$primary-color: #444;
$secondary-color: rgb(10, 132, 255);
$show-home-img: true;
$home-img: url('../img/background.jpg');
$background-opacity: 0.8;

@mixin easeOut {
	transition: all 0.5s ease-in-out;
}

@mixin background {
	@if $show-home-img {
		&#bg-img {
			background: $home-img;
			background-attachment: fixed;
			background-size: cover;
		}
	}
}
