@use 'sass:color';

$primary-color: #444;
$secondary-color: rgb(10, 132, 255);
$show-home-img: true;
$home-img: url('../img/background.jpg');
$background-opacity: 0.8;

@mixin easeOut {
	transition: all 0.5s ease;
}

@mixin background {
	@if $show-home-img {
		&#bg-img {
			background: $home-img;
			background-attachment: fixed;
			background-size: cover;
		}
	}
}

@mixin buttonStyle {
	outline: none;
	border: 1px solid color.adjust($secondary-color, $lightness: -10%);
	padding: 10px;
	background: $secondary-color;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	transition: all 0.1s ease-out;

	&:focus {
		background: color.adjust($secondary-color, $lightness: -20%);
	}

	&:hover {
		background: color.adjust($secondary-color, $lightness: 10%);
	}
}
