@use 'config' as *;
@use 'sass:color';

.menu {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	// z-index: -1;

	&.show {
	}

	> * {
		width: 50vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 2;
	}

	.portrait {
		background: rgba(color.adjust($primary-color, $lightness: 5%), 0.8);
		transform: translateY(-200%);

		&.show {
			transform: translateY(0);
			@include easeOut;
		}
		img {
			width: 200px;
			height: 200px;
			border: 2px solid $secondary-color;
			border-radius: 50%;
		}
	}

	.menu-nav {
		background: rgba(color.adjust($primary-color, $lightness: 20%), 0.8);
		transform: translateY(200%);
		display: flex;
		flex-direction: column;
		list-style: none;
		@include easeOut;

		&.show {
			transform: translateY(0);
		}

		.nav-item {
			font-size: 2em;

			a {
				display: block;
				position: relative;

				&.current {
					color: $secondary-color;

					&::after {
						width: 100%;
						background: $secondary-color;
					}
				}
			}

			a::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				height: 3px;
				width: 0;
				background: #fff;
				transition: width 0.3s ease-out;
			}

			a:not(.current):hover:after {
				width: 100%;
			}
		}
	}
}
.menu-btn {
	position: absolute;
	z-index: 3;
	top: 35px;
	right: 35px;
	cursor: pointer;
	@include easeOut;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 5px;

	.btn-line {
		width: 28px;
		height: 2.5px;
		background: #fff;
		@include easeOut;
	}

	&.close {
		transform: rotate(45deg);

		.btn-line {
			&:nth-child(1) {
				transform: rotate(90deg);
				width: 45%;
				background: red;
			}

			&:nth-child(2) {
				background: red;
			}

			&:nth-child(3) {
				transform: rotate(90deg);
				width: 45%;
				background: red;
			}
		}
	}
}
