@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.poppins-regular {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

.poppins-bold {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.poppins-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.poppins-medium {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.poppins-semibold {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.poppins-extrabold {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}