@import url('./Poppins.css');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid red;
}

body header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
    border: 1px blue solid;
}

body header nav .logo {
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    border: 1px solid blueviolet;
}

body header nav ul {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    list-style: none;
    border: 1px solid lime;
}

body header nav ul li {
    width: 100px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    border: 1px solid yellow;
}

body header nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* body header nav .hamburguer-menu {
    width: 35px;
    height: 35px;
    background: transparent;
    outline: none;
    border: none;
}

body header nav .hamburguer-menu svg .bars {
    display: none;
    position: absolute;
    fill: #fff;
} */

body main {
    background: grey;
    width: 100vw;
    height: 100vh;
}

body footer {
    height: 50vh;
    width: 100vw;
}