@use '@/styles/config.scss' as *;
@use 'sass:color';

// @keyframes expand {
// 	0% {
// 		max-height: 0;
// 	}
// 	50% {
// 		max-height: 250px;
// 	}
// 	100% {
// 		max-height: 500px;
// 	}
// }

.projects-container {
	margin-top: 2rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 3rem;

	.card-wrapper {
		width: 350px;
		aspect-ratio: 1/0.5;
		padding: 1rem;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 10px;
		border: 1px solid
			rgba(color.adjust($primary-color, $lightness: -10%), 0.5);
		background: rgba(color.adjust($primary-color, $lightness: -3%), 0.5);
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);

		.card-img {
			border: 1px solid white;
			border-radius: 10px;
			width: 100%;
			height: 200px;
			background: color.adjust($primary-color, $lightness: -10%);
		}

		details {
			width: 100%;
			overflow: hidden;

			&::details-content {
				content-visibility: visible !important;
				max-height: 0;
				transition: max-height 0.5s ease-in-out;
				padding: 0px 20px;
			}

			summary {
				list-style: none;
				cursor: pointer;
				display: flex;
				align-items: center;
				list-style-position: outside;

				span {
					display: flex;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
					gap: 10px;

					svg {
						margin-left: 5px;
						transition: transform 0.35s ease-in-out;
					}
				}
			}

			&[open] {
				summary {
					svg {
						transform: rotate(90deg);
					}
				}

				&::details-content {
					max-height: 500px;
				}
			}
		}
	}
}
